extends layout

block content
  div 
    h1 Members Only 
    div(class='links')
      a(href="/sign-up") Sign Up 
      a(href='/sign-in') Sign In
  div(class="messages-container") 
    if messages
      each message in messages
        div(class="message-container")
          p Title: #{message.title}     
          p Message: #{message.text}
