extends layout

block content
  nav 
    a(href="/messages") Messages
    if !user 
      a(href="/sign-up") Sign Up 
      a(href='/sign-in') Sign In
    else 
      a(href='/dashboard') Dashboard
      a(href="/membership") Be a Member
      a(href="/admin") Be an Admin
      
