extends layout 

block content  
  nav(class="nav")
    div
      h1=user.username
    div(class="links")
      a(href="/dashboard") Dashboard
      a(href="/admin") Be an Admin
      a(href="/logout") Logout
  h1=title
  p=desc
  form(action="", method="post" class="form-col") 
    label(for="secret_code") Code:
    input(type="text" name="secret_code") 
    button(type="submit") Submit

  if errors 
    each error in errors 
      li=error