extends layout 

block content 
  nav(class="nav")
    div 
      h1 Members Only 
    div(class='links')
      a(href="/sign-up") Sign Up 
      a(href='/sign-in') Sign In
  form(method="post" class="form-col")
    h1 Login 
    label(for="username") Username:
    input(type="text" name="username" required value=(undefined===user ? '' : user.username))  
    label(for="password") Password:
    input(type="password" name="password" required value=(undefined===user ? '' : user.password))
    button(type="submit") Login